@model AdvancedC_Final.Models.Ticket

@{
    ViewData["Title"] = "Ticket Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ticket Details</h2>

<dl>
    <dt>Title:</dt>
    <dd>@Model.Title</dd>

    <dt>Priority:</dt>
    <dd>@Model.Priority</dd>

    <dt>Required Hours:</dt>
    <dd>@Model.RequiredHours</dd>

    <dt>Completed:</dt>
    <dd>@Model.IsCompleted</dd>

</dl>

<div>
    <h4>Developers in Ticket</h4>
    <table>
        <thead>
            <tr>
                <th>Developer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DeveloperTicket developer in Model.Developers)
            {
                <tr>
                    <td>@developer.User.UserName</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="AddDevTicket" asp-controller="Manager" asp-route-ticketId="@Model?.Id" asp-route-projectId="@Model?.ProjectId">Add a Developer</a> |
    <a asp-action="Details" asp-controller="Projects" asp-route-id="@Model?.ProjectId">Back to Project</a>
</div>