@model AdvancedC_Final.Models.Project

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectManager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectManager.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tickets)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tickets.Count)
        </dd>

    </dl>
</div>

<div>
    <h4>Tickets</h4>
    <table>
        <thead>
            <tr>
                <th>Ticket</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Ticket ticket in Model.Tickets.OrderBy(p => p.Title))
            {
                <tr>
                    <td>@ticket.Title</td>
                    <td>@ticket.IsCompleted</td>
                    <td><a asp-action="DetailTicket" asp-route-id="@ticket.Id">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="AddTicket" asp-route-id="@Model?.Id">Add a Ticket</a> |
    <a asp-action="Index">Back to List</a>
</div>