@using AdvancedC_Final.Areas.Identity.Data;
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model AdvancedC_Final.Models.TicketPageVM;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Project Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Title:</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.Title)
        </dd>
        <dt class = "col-sm-2">Project Manager:</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectManager.UserName)
        </dd>
        <dt class="col-sm-2">Tickets:</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tickets.Count)
        </dd>

    </dl>
</div>

<div>
    <h4>Tickets</h4>
    <table>
        <thead>
            <tr>
                <th>@Html.ActionLink("Title", "Details", new { sortOrder = ViewBag.TitleSortParm })</th>
                <th>@Html.ActionLink("Priority", "Details", new { sortOrder = ViewBag.PrioritySortParm })</th>
                <th>@Html.ActionLink("Required Hours", "Details", new { sortOrder = ViewBag.HoursSortParm })</th>
                <th>@Html.ActionLink("Completed", "Details", new { sortOrder = ViewBag.CompletionFilter })</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Ticket ticket in Model.Tickets)
            {
                <tr>
                    <td>@ticket.Title</td>
                    <td>@ticket.Priority</td>
                    <td>@ticket.RequiredHours</td>
                    <td>@ticket.IsCompleted</td>
                    <td>
                        <a asp-action="DetailTicket" asp-route-id="@ticket.Id">Details</a> 
                        @if (User.IsInRole("Project Manager"))
                        {
                            <text>
                                | <a asp-action="EditTicket" asp-route-id="@ticket.Id">Edit</a>
                            </text>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    Page @(Model.Tickets.PageCount < Model.Tickets.PageNumber ? 0 : Model.Tickets.PageNumber) of @Model.Tickets.PageCount

    @Html.PagedListPager( Model.Tickets, page => Url.Action("Details", new { id = Model.Project.Id, page }))
</div>

<div>
    <h4>Developers in Project</h4>
    <table>
        <thead>
            <tr>
                <th>Developer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DeveloperProject developer in Model.Project.Developers)
            {
                <tr>
                    <td>@developer.Developer.UserName</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-controller="Projects" asp-route-id="@Model?.Project.Id">Edit</a> |
    <a asp-action="AddDevProject" asp-controller="Manager" asp-route-id="@Model?.Project.Id">Add a Developer</a> |
    <a asp-action="AddTicket" asp-controller="Projects" asp-route-id="@Model?.Project.Id">Add a Ticket</a> |
    <a asp-action="Index" asp-controller="Projects" >Back to List</a>
</div>