@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model X.PagedList.IPagedList<AdvancedC_Final.Models.Project>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Projects</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Project</th>
            <th>Project Manager</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Project item in Model.OrderBy(p => p.Title))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectManager.UserName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager( (IPagedList)ViewBag.onePage, page => Url.Action("Index", new { page }) )