@model IEnumerable<AdvancedC_Final.Models.Project>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Projects</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectManager)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Project item in Model.OrderBy(p => p.Title))
        {
            // Check if the current user is part of this project
            // if (User.IsInRole("Project Manager") || User.IsInRole("Developer"))
            {
                // Checks for projects associated with the current user
                if (User.Identity.Name == item.ProjectManager.UserName)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjectManager.UserName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
